In [1]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

In [26]:
#Indicadores Fundamentalistas
url = 'http://investimentos.notasdovitor.top:5000/'
r = requests.get(url)
indicadores = r.json()

df_ind = pd.DataFrame.from_dict(indicadores, orient='columns')
df_ind = df_ind.transpose().reset_index()

In [27]:
#Preços e informações
url = 'https://mfinance.com.br/api/v1/stocks/'
r = requests.get(url)
precos = r.json()

df_prec = pd.DataFrame.from_dict(pd.json_normalize(precos,'stocks'), orient='columns')
df_2 = df_ind.merge(df_prec, left_on='index',right_on='symbol').drop(columns=['symbol'])

In [15]:
df_2.columns

Index(['index', 'Cotacao', 'Cresc.5anos', 'DY', 'Div.Brut/Pat.', 'EV/EBIT',
       'EV/EBITDA', 'Liq.2meses', 'Liq.Corr.', 'Mrg.Ebit', 'Mrg.Liq.', 'P/ACL',
       'P/Ativo', 'P/Cap.Giro', 'P/EBIT', 'P/L', 'P/VP', 'PSR', 'Pat.Liq',
       'ROE', 'ROIC', 'change', 'closingPrice', 'eps', 'high', 'lastPrice',
       'lastYearHigh', 'lastYearLow', 'low', 'marketCap', 'name', 'pe',
       'priceOpen', 'shares', 'volume', 'volumeAvg', 'sector', 'subSector',
       'segment'],
      dtype='object')

In [44]:
df_2[['index','lastPrice','P/L','P/VP']].sort_values('P/L')
df_2.loc[(df_2['P/VP'] > 0)][['index','lastPrice','P/L','P/VP']].sort_values('P/VP')

      index  lastPrice     P/L    P/VP
152   CTNM4       6.87   -1.98    0.25
299   MTIG4      54.51    4.62    0.34
72   BRGE12       6.67   14.53    0.40
221  GPIV33       5.62    7.89    0.42
151   CTNM3      12.45   -3.62    0.46
..      ...        ...     ...     ...
81    BRKM6      44.00  -63.95   81.54
79    BRKM3      58.37  -83.14  106.00
80    BRKM5      58.82  -86.22  109.93
405   TCNO4       4.60 -203.39  281.05
404   TCNO3       5.75 -244.77  338.22

[393 rows x 4 columns]

In [39]:
#Grava outuput em arquivo CSV
df_2.to_csv('output.csv')